.header {
  display : flex;
  justify-content: flex-end;
  background-color: white;
}

.baby{
  margin-right: 20px;
  list-style: none;
}

.barre {
font: 16px;
line-height: 34px;
height: 34px
}

.boutons{
  display: flex;
  justify-content: center;
}

#headerfont{
font-size: 20px;
}

#exampleInputEmail1 {
width: 600px;
border-radius: 10px
}

.centerbox{
display: flex;
flex-direction: column;
align-items: center;
}

 .btn-light {
   background-color: #F6E7E4;
 }

.form-control{
  box-shadow: 1px 1px 1px black;
}


.moteur{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px
}

.moteur2{
  display: flex;
  justify-content: center;
  align-items: center;
}


.form-control {
  margin-bottom: 20px
}

.button {
  height: 50px
}

.footer {
  display : flex;

}

.footers {
  margin-right: 20px;
  list-style: none

}


.footers2 {
  margin-right: 20px;

}
.listeRight{
  display: flex;
  justify-content: flex-end;
list-style: none;
}

.divend {
  display : flex;
  justify-content: flex-end;
}

.premierEtage {
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;

}

.deuxiemeEtage {
  display: flex;
  justify-content: space-between;



}

.premierEtage,.deuxiemeEtage {
  border-width:1px;
  border-style:solid;
  border-color: #EDE7E5;
  background-color: #F6E7E4;
}
footer {
  border-width:1px;
  border-style:solid;
  background-color: #F6E7E4;
border-color: #EDE7E5;
}

#butonHide {
  position: absolute;
  top: 50%;
  border-radius: 8px;
  font-size: 20px;
  background-color: #008CBA;

}
.wraper {
  display: flex;
  justify-content: center;
align-items: center;
}


